@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(160,160,160), transparent);
}

.wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.paragraph
{ 
	text-align: center 
}

.formsize, input[type=text] {
  color: grey;
  width: 20%;
  height: 35px;
  border-radius: 4px;
  border: 1px solid grey;
}

.commentLeft {
  color: grey;
  border-radius: 10px;
  border: 1px solid grey;
  height: 120px;
  width: 400px;
  padding: 7px;
  float: left;
  margin-left: 5%;
  background-color: rgb(192, 192, 192);
}

.commentRight {
  color: grey;
  border-radius: 10px;
  border: 1px solid grey;
  height: 120px;
  width: 400px;
  padding: 7px;
  float: right;
  margin-right: 5%;
  background-color: rgb(224, 224, 224);
  text-align: right;
}

.outer-form-comment {
    
    width: 100%;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

.form-comment {
  height: 300px;
  width: 600px;
  width: 50%;
  
}

